trigger: none

parameters:
- name: serviceConnection
  type: string
  default: 'AZURE-SC'
- name: resourceGroup
  type: string
  default: '<rg>'
- name: workspace
  type: string
  default: '<workspace>'
- name: environmentName
  type: string
  default: 'dev'
- name: endpointFile
  type: string
  default: 'deployment/endpoint-dev.yml'
- name: deployments
  type: object
  default:
    - deployment/de-model.yml
    - deployment/pl-model.yml
    - deployment/en-model.yml
- name: dataAssetFile
  type: string
  default: 'data/input-data.yml'
- name: invokeDeployment
  type: string
  default: 'de-model'

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self

- task: AzureCLI@2
  displayName: Install yq
  inputs:
    azureSubscription: ${{ parameters.serviceConnection }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e
      sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
      sudo chmod +x /usr/local/bin/yq
      yq --version

- task: AzureCLI@2
  displayName: Deploy batch endpoint (AAD)
  inputs:
    azureSubscription: ${{ parameters.serviceConnection }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e
      az configure --defaults group='${{ parameters.resourceGroup }}' workspace='${{ parameters.workspace }}'
      ENDPOINT_NAME=$(yq '.name' '${{ parameters.endpointFile }}')
      COUNT=$(az ml batch-endpoint list --query "[?name=='$ENDPOINT_NAME'] | length(@)" -o tsv)
      if [ "$COUNT" = "0" ]; then
        az ml batch-endpoint create -f '${{ parameters.endpointFile }}'
      else
        az ml batch-endpoint update -f '${{ parameters.endpointFile }}'
      fi

- task: AzureCLI@2
  displayName: Deploy batch deployments
  inputs:
    azureSubscription: ${{ parameters.serviceConnection }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e
      az configure --defaults group='${{ parameters.resourceGroup }}' workspace='${{ parameters.workspace }}'

      for f in ${{ join(' ', parameters.deployments) }}; do
        ENDPOINT_NAME=$(yq '.endpoint_name' "$f")
        DEPLOYMENT_NAME=$(yq '.name' "$f")
        COUNT=$(az ml batch-deployment list -e "$ENDPOINT_NAME" --query "[?name=='$DEPLOYMENT_NAME'] | length(@)" -o tsv)
        if [ "$COUNT" = "0" ]; then
          az ml batch-deployment create -f "$f"
        else
          az ml batch-deployment update -f "$f"
        fi
      done

      # set default to de-model (or whatever is in endpoint YAML)
      ENDPOINT_FILE='${{ parameters.endpointFile }}'
      ENDPOINT_NAME=$(yq '.name' "$ENDPOINT_FILE")
      DEFAULT_DEPLOY=$(yq '.defaults.deployment_name' "$ENDPOINT_FILE")
      az ml batch-endpoint update -n "$ENDPOINT_NAME" --set defaults.deployment_name="$DEFAULT_DEPLOY"

- task: AzureCLI@2
  displayName: Upload sample input as Data asset
  inputs:
    azureSubscription: ${{ parameters.serviceConnection }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e
      az configure --defaults group='${{ parameters.resourceGroup }}' workspace='${{ parameters.workspace }}'
      az ml data create -f '${{ parameters.dataAssetFile }}'

- task: AzureCLI@2
  displayName: Invoke batch endpoint (smoke test)
  inputs:
    azureSubscription: ${{ parameters.serviceConnection }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      set -e
      az configure --defaults group='${{ parameters.resourceGroup }}' workspace='${{ parameters.workspace }}'

      ENDPOINT_NAME=$(yq '.name' '${{ parameters.endpointFile }}')
      DATA_NAME=$(yq '.name' '${{ parameters.dataAssetFile }}')
      DATA_VERSION=$(yq '.version' '${{ parameters.dataAssetFile }}')

      OUT="azureml://datastores/workspaceblobstore/paths/batch_outputs/smoke/$(date +%s)/"

      JOB_NAME=$(az ml batch-endpoint invoke         -n "$ENDPOINT_NAME"         --deployment-name '${{ parameters.invokeDeployment }}'         --input "azureml:$DATA_NAME:$DATA_VERSION"         --output-path "$OUT"         --query name -o tsv)

      echo "Submitted job: $JOB_NAME"
      az ml job show -n "$JOB_NAME" --query status -o tsv
